In [130]:
import datawig
import pandas as pd
import numpy as np

In [131]:
data_train = pd.read_pickle("../titanic/data_train.pk")
data_test = pd.read_pickle("../titanic/data_test.pk")

In [132]:
data_train.drop(columns = ["Survived", "PassengerId"], inplace=True)
data_test.drop(columns = ["PassengerId"], inplace=True)

In [133]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
Pclass             891 non-null int64
Sex                891 non-null object
Age                714 non-null float64
SibSp              891 non-null int64
Parch              891 non-null int64
Fare               891 non-null float64
Embarked           889 non-null object
ticket             891 non-null int64
corpus             891 non-null object
number_of_cabin    891 non-null int64
first_name         891 non-null object
second_name        891 non-null object
title              891 non-null object
third_name         576 non-null object
dtypes: float64(2), int64(5), object(7)
memory usage: 97.6+ KB

In [134]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 14 columns):
Pclass             418 non-null int64
Sex                418 non-null object
Age                332 non-null float64
SibSp              418 non-null int64
Parch              418 non-null int64
Fare               417 non-null float64
Embarked           418 non-null object
ticket             418 non-null int64
corpus             418 non-null object
number_of_cabin    418 non-null int64
first_name         418 non-null object
second_name        418 non-null object
title              418 non-null object
third_name         269 non-null object
dtypes: float64(2), int64(5), object(7)
memory usage: 45.8+ KB

In [135]:
data = data_train.append(data_test, ignore_index=True)

In [136]:
data["Fare"] = data["Fare"].fillna(data["Fare"].mean())

In [137]:
data_first = data.copy()

In [138]:
data.drop(columns=["Embarked", "third_name"], inplace=True)

In [139]:
data["corpus"][data["corpus"] == "N"] = np.nan
data["number_of_cabin"][data["number_of_cabin"] == 0] = np.nan

/Users/maxim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/maxim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [140]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Pclass             1309 non-null int64
Sex                1309 non-null object
Age                1046 non-null float64
SibSp              1309 non-null int64
Parch              1309 non-null int64
Fare               1309 non-null float64
ticket             1309 non-null int64
corpus             295 non-null object
number_of_cabin    289 non-null float64
first_name         1309 non-null object
second_name        1309 non-null object
title              1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

In [141]:
impute_col = ["Age", "corpus", "number_of_cabin"]

In [142]:
info_columns = ['Pclass', 'Sex',  'SibSp', 'Parch', 'Fare',  
        'first_name', 'second_name', 'title', 'ticket']

In [143]:
df_train, df_test = datawig.utils.random_split(data)

In [144]:
imputer = datawig.SimpleImputer(
    input_columns=info_columns, # column(s) containing information about the column we want to impute
    output_column= impute_col[1], # the column we'd like to impute values for
    output_path = 'imputer_model' # stores model data and metrics
    )

In [145]:
imputer.fit(train_df=df_train, num_epochs=100)

2019-10-11 02:20:01,192 [INFO]  CategoricalEncoder for column corpus                                found only 67 occurrences of value C
2019-10-11 02:20:01,194 [INFO]  CategoricalEncoder for column corpus                                found only 50 occurrences of value B
2019-10-11 02:20:01,194 [INFO]  CategoricalEncoder for column corpus                                found only 33 occurrences of value D
2019-10-11 02:20:01,195 [INFO]  CategoricalEncoder for column corpus                                found only 26 occurrences of value E
2019-10-11 02:20:01,196 [INFO]  CategoricalEncoder for column corpus                                found only 17 occurrences of value F
2019-10-11 02:20:01,197 [INFO]  CategoricalEncoder for column corpus                                found only 15 occurrences of value A
2019-10-11 02:20:01,197 [INFO]  CategoricalEncoder for column corpus                                found only 3 occurrences of value G
2019-10-11 02:20:01,198 [INFO]  CategoricalEncoder for column corpus                                found only 1 occurrences of value T
/Users/maxim/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
2019-10-11 02:20:01,340 [WARNING]  Test set does not contain any ocurrences of values [G, F, T, A] in column [corpus], consider using a more representative test set.
2019-10-11 02:20:01,348 [INFO]
========== start: fit model
2019-10-11 02:20:01,349 [WARNING]  Already bound, ignoring bind()
2019-10-11 02:20:01,405 [INFO]  Epoch[0] Batch [0-7]	Speed: 3290.85 samples/sec	cross-entropy=1.836104	corpus-accuracy=0.343750
2019-10-11 02:20:01,434 [INFO]  Epoch[0] Train-cross-entropy=1.640092
2019-10-11 02:20:01,434 [INFO]  Epoch[0] Train-corpus-accuracy=0.281250
2019-10-11 02:20:01,435 [INFO]  Epoch[0] Time cost=0.085
2019-10-11 02:20:01,441 [INFO]  Saved checkpoint to "imputer_model/model-0000.params"
2019-10-11 02:20:01,450 [INFO]  Epoch[0] Validation-cross-entropy=1.810854
2019-10-11 02:20:01,451 [INFO]  Epoch[0] Validation-corpus-accuracy=0.156250
2019-10-11 02:20:01,494 [INFO]  Epoch[1] Batch [0-7]	Speed: 3074.58 samples/sec	cross-entropy=1.360264	corpus-accuracy=0.445312
2019-10-11 02:20:01,524 [INFO]  Epoch[1] Train-cross-entropy=1.333139
2019-10-11 02:20:01,525 [INFO]  Epoch[1] Train-corpus-accuracy=0.416667
2019-10-11 02:20:01,525 [INFO]  Epoch[1] Time cost=0.074
2019-10-11 02:20:01,531 [INFO]  Saved checkpoint to "imputer_model/model-0001.params"
2019-10-11 02:20:01,539 [INFO]  Epoch[1] Validation-cross-entropy=1.749647
2019-10-11 02:20:01,540 [INFO]  Epoch[1] Validation-corpus-accuracy=0.187500
2019-10-11 02:20:01,581 [INFO]  Epoch[2] Batch [0-7]	Speed: 3154.31 samples/sec	cross-entropy=1.237141	corpus-accuracy=0.453125
2019-10-11 02:20:01,609 [INFO]  Epoch[2] Train-cross-entropy=1.214390
2019-10-11 02:20:01,610 [INFO]  Epoch[2] Train-corpus-accuracy=0.437500
2019-10-11 02:20:01,611 [INFO]  Epoch[2] Time cost=0.071
2019-10-11 02:20:01,616 [INFO]  Saved checkpoint to "imputer_model/model-0002.params"
2019-10-11 02:20:01,624 [INFO]  Epoch[2] Validation-cross-entropy=1.603057
2019-10-11 02:20:01,624 [INFO]  Epoch[2] Validation-corpus-accuracy=0.218750
2019-10-11 02:20:01,667 [INFO]  Epoch[3] Batch [0-7]	Speed: 3066.73 samples/sec	cross-entropy=1.160243	corpus-accuracy=0.562500
2019-10-11 02:20:01,699 [INFO]  Epoch[3] Train-cross-entropy=1.098994
2019-10-11 02:20:01,699 [INFO]  Epoch[3] Train-corpus-accuracy=0.489583
2019-10-11 02:20:01,700 [INFO]  Epoch[3] Time cost=0.075
2019-10-11 02:20:01,705 [INFO]  Saved checkpoint to "imputer_model/model-0003.params"
2019-10-11 02:20:01,713 [INFO]  Epoch[3] Validation-cross-entropy=1.572033
2019-10-11 02:20:01,714 [INFO]  Epoch[3] Validation-corpus-accuracy=0.281250
2019-10-11 02:20:01,757 [INFO]  Epoch[4] Batch [0-7]	Speed: 3046.11 samples/sec	cross-entropy=1.109301	corpus-accuracy=0.609375
2019-10-11 02:20:01,786 [INFO]  Epoch[4] Train-cross-entropy=1.030101
2019-10-11 02:20:01,787 [INFO]  Epoch[4] Train-corpus-accuracy=0.562500
2019-10-11 02:20:01,788 [INFO]  Epoch[4] Time cost=0.073
2019-10-11 02:20:01,793 [INFO]  Saved checkpoint to "imputer_model/model-0004.params"
2019-10-11 02:20:01,802 [INFO]  Epoch[4] Validation-cross-entropy=1.563579
2019-10-11 02:20:01,803 [INFO]  Epoch[4] Validation-corpus-accuracy=0.250000
2019-10-11 02:20:01,845 [INFO]  Epoch[5] Batch [0-7]	Speed: 3143.23 samples/sec	cross-entropy=1.053188	corpus-accuracy=0.640625
2019-10-11 02:20:01,876 [INFO]  Epoch[5] Train-cross-entropy=0.976828
2019-10-11 02:20:01,877 [INFO]  Epoch[5] Train-corpus-accuracy=0.572917
2019-10-11 02:20:01,878 [INFO]  Epoch[5] Time cost=0.074
2019-10-11 02:20:01,883 [INFO]  Saved checkpoint to "imputer_model/model-0005.params"
2019-10-11 02:20:01,890 [INFO]  Epoch[5] Validation-cross-entropy=1.521433
2019-10-11 02:20:01,891 [INFO]  Epoch[5] Validation-corpus-accuracy=0.250000
2019-10-11 02:20:01,934 [INFO]  Epoch[6] Batch [0-7]	Speed: 3050.78 samples/sec	cross-entropy=1.004280	corpus-accuracy=0.656250
2019-10-11 02:20:01,966 [INFO]  Epoch[6] Train-cross-entropy=0.928927
2019-10-11 02:20:01,967 [INFO]  Epoch[6] Train-corpus-accuracy=0.593750
2019-10-11 02:20:01,967 [INFO]  Epoch[6] Time cost=0.075
2019-10-11 02:20:01,972 [INFO]  Saved checkpoint to "imputer_model/model-0006.params"
2019-10-11 02:20:01,980 [INFO]  Epoch[6] Validation-cross-entropy=1.485873
2019-10-11 02:20:01,981 [INFO]  Epoch[6] Validation-corpus-accuracy=0.281250
2019-10-11 02:20:02,025 [INFO]  Epoch[7] Batch [0-7]	Speed: 3063.81 samples/sec	cross-entropy=0.960339	corpus-accuracy=0.679688
2019-10-11 02:20:02,054 [INFO]  Epoch[7] Train-cross-entropy=0.886194
2019-10-11 02:20:02,055 [INFO]  Epoch[7] Train-corpus-accuracy=0.593750
2019-10-11 02:20:02,056 [INFO]  Epoch[7] Time cost=0.073
2019-10-11 02:20:02,061 [INFO]  Saved checkpoint to "imputer_model/model-0007.params"
2019-10-11 02:20:02,069 [INFO]  Epoch[7] Validation-cross-entropy=1.460384
2019-10-11 02:20:02,070 [INFO]  Epoch[7] Validation-corpus-accuracy=0.281250
2019-10-11 02:20:02,114 [INFO]  Epoch[8] Batch [0-7]	Speed: 3039.51 samples/sec	cross-entropy=0.921082	corpus-accuracy=0.695312
2019-10-11 02:20:02,147 [INFO]  Epoch[8] Train-cross-entropy=0.846290
2019-10-11 02:20:02,148 [INFO]  Epoch[8] Train-corpus-accuracy=0.770833
2019-10-11 02:20:02,148 [INFO]  Epoch[8] Time cost=0.077
2019-10-11 02:20:02,153 [INFO]  Saved checkpoint to "imputer_model/model-0008.params"
2019-10-11 02:20:02,161 [INFO]  Epoch[8] Validation-cross-entropy=1.435632
2019-10-11 02:20:02,163 [INFO]  Epoch[8] Validation-corpus-accuracy=0.281250
2019-10-11 02:20:02,207 [INFO]  Epoch[9] Batch [0-7]	Speed: 2986.50 samples/sec	cross-entropy=0.884311	corpus-accuracy=0.703125
2019-10-11 02:20:02,240 [INFO]  Epoch[9] Train-cross-entropy=0.809238
2019-10-11 02:20:02,241 [INFO]  Epoch[9] Train-corpus-accuracy=0.802083
2019-10-11 02:20:02,242 [INFO]  Epoch[9] Time cost=0.078
2019-10-11 02:20:02,248 [INFO]  Saved checkpoint to "imputer_model/model-0009.params"
2019-10-11 02:20:02,256 [INFO]  Epoch[9] Validation-cross-entropy=1.411777
2019-10-11 02:20:02,257 [INFO]  Epoch[9] Validation-corpus-accuracy=0.281250
2019-10-11 02:20:02,300 [INFO]  Epoch[10] Batch [0-7]	Speed: 3012.20 samples/sec	cross-entropy=0.849633	corpus-accuracy=0.710938
2019-10-11 02:20:02,332 [INFO]  Epoch[10] Train-cross-entropy=0.776169
2019-10-11 02:20:02,333 [INFO]  Epoch[10] Train-corpus-accuracy=0.822917
2019-10-11 02:20:02,333 [INFO]  Epoch[10] Time cost=0.075
2019-10-11 02:20:02,339 [INFO]  Saved checkpoint to "imputer_model/model-0010.params"
2019-10-11 02:20:02,347 [INFO]  Epoch[10] Validation-cross-entropy=1.386959
2019-10-11 02:20:02,348 [INFO]  Epoch[10] Validation-corpus-accuracy=0.250000
2019-10-11 02:20:02,390 [INFO]  Epoch[11] Batch [0-7]	Speed: 3166.81 samples/sec	cross-entropy=0.817064	corpus-accuracy=0.726562
2019-10-11 02:20:02,417 [INFO]  Epoch[11] Train-cross-entropy=0.744843

2019-10-11 02:20:02,418 [INFO]  Epoch[11] Train-corpus-accuracy=0.822917
2019-10-11 02:20:02,418 [INFO]  Epoch[11] Time cost=0.070
2019-10-11 02:20:02,425 [INFO]  Saved checkpoint to "imputer_model/model-0011.params"
2019-10-11 02:20:02,432 [INFO]  Epoch[11] Validation-cross-entropy=1.364739
2019-10-11 02:20:02,433 [INFO]  Epoch[11] Validation-corpus-accuracy=0.250000
2019-10-11 02:20:02,473 [INFO]  Epoch[12] Batch [0-7]	Speed: 3320.88 samples/sec	cross-entropy=0.787254	corpus-accuracy=0.734375
2019-10-11 02:20:02,501 [INFO]  Epoch[12] Train-cross-entropy=0.715090
2019-10-11 02:20:02,501 [INFO]  Epoch[12] Train-corpus-accuracy=0.822917
2019-10-11 02:20:02,502 [INFO]  Epoch[12] Time cost=0.068
2019-10-11 02:20:02,507 [INFO]  Saved checkpoint to "imputer_model/model-0012.params"
2019-10-11 02:20:02,514 [INFO]  Epoch[12] Validation-cross-entropy=1.342379
2019-10-11 02:20:02,515 [INFO]  Epoch[12] Validation-corpus-accuracy=0.500000
2019-10-11 02:20:02,554 [INFO]  Epoch[13] Batch [0-7]	Speed: 3447.11 samples/sec	cross-entropy=0.758286	corpus-accuracy=0.789062
2019-10-11 02:20:02,581 [INFO]  Epoch[13] Train-cross-entropy=0.687930
2019-10-11 02:20:02,581 [INFO]  Epoch[13] Train-corpus-accuracy=0.822917
2019-10-11 02:20:02,582 [INFO]  Epoch[13] Time cost=0.066
2019-10-11 02:20:02,587 [INFO]  Saved checkpoint to "imputer_model/model-0013.params"
2019-10-11 02:20:02,594 [INFO]  Epoch[13] Validation-cross-entropy=1.322914
2019-10-11 02:20:02,594 [INFO]  Epoch[13] Validation-corpus-accuracy=0.531250
2019-10-11 02:20:02,631 [INFO]  Epoch[14] Batch [0-7]	Speed: 3629.41 samples/sec	cross-entropy=0.730979	corpus-accuracy=0.812500
2019-10-11 02:20:02,658 [INFO]  Epoch[14] Train-cross-entropy=0.662026
2019-10-11 02:20:02,659 [INFO]  Epoch[14] Train-corpus-accuracy=0.822917
2019-10-11 02:20:02,659 [INFO]  Epoch[14] Time cost=0.064
2019-10-11 02:20:02,664 [INFO]  Saved checkpoint to "imputer_model/model-0014.params"
2019-10-11 02:20:02,671 [INFO]  Epoch[14] Validation-cross-entropy=1.304168
2019-10-11 02:20:02,671 [INFO]  Epoch[14] Validation-corpus-accuracy=0.562500
2019-10-11 02:20:02,707 [INFO]  Epoch[15] Batch [0-7]	Speed: 3785.29 samples/sec	cross-entropy=0.704944	corpus-accuracy=0.828125
2019-10-11 02:20:02,733 [INFO]  Epoch[15] Train-cross-entropy=0.637281
2019-10-11 02:20:02,734 [INFO]  Epoch[15] Train-corpus-accuracy=0.833333
2019-10-11 02:20:02,735 [INFO]  Epoch[15] Time cost=0.063
2019-10-11 02:20:02,739 [INFO]  Saved checkpoint to "imputer_model/model-0015.params"
2019-10-11 02:20:02,748 [INFO]  Epoch[15] Validation-cross-entropy=1.287578
2019-10-11 02:20:02,748 [INFO]  Epoch[15] Validation-corpus-accuracy=0.562500
2019-10-11 02:20:02,787 [INFO]  Epoch[16] Batch [0-7]	Speed: 3430.95 samples/sec	cross-entropy=0.680517	corpus-accuracy=0.828125
2019-10-11 02:20:02,814 [INFO]  Epoch[16] Train-cross-entropy=0.614800
2019-10-11 02:20:02,815 [INFO]  Epoch[16] Train-corpus-accuracy=0.843750
2019-10-11 02:20:02,815 [INFO]  Epoch[16] Time cost=0.066
2019-10-11 02:20:02,821 [INFO]  Saved checkpoint to "imputer_model/model-0016.params"
2019-10-11 02:20:02,828 [INFO]  Epoch[16] Validation-cross-entropy=1.271058
2019-10-11 02:20:02,828 [INFO]  Epoch[16] Validation-corpus-accuracy=0.562500
2019-10-11 02:20:02,867 [INFO]  Epoch[17] Batch [0-7]	Speed: 3475.03 samples/sec	cross-entropy=0.657004	corpus-accuracy=0.835938
2019-10-11 02:20:02,894 [INFO]  Epoch[17] Train-cross-entropy=0.592260
2019-10-11 02:20:02,895 [INFO]  Epoch[17] Train-corpus-accuracy=0.875000
2019-10-11 02:20:02,895 [INFO]  Epoch[17] Time cost=0.066
2019-10-11 02:20:02,900 [INFO]  Saved checkpoint to "imputer_model/model-0017.params"
2019-10-11 02:20:02,907 [INFO]  Epoch[17] Validation-cross-entropy=1.257159
2019-10-11 02:20:02,908 [INFO]  Epoch[17] Validation-corpus-accuracy=0.562500
2019-10-11 02:20:02,947 [INFO]  Epoch[18] Batch [0-7]	Speed: 3380.70 samples/sec	cross-entropy=0.634780	corpus-accuracy=0.843750
2019-10-11 02:20:02,975 [INFO]  Epoch[18] Train-cross-entropy=0.571688
2019-10-11 02:20:02,976 [INFO]  Epoch[18] Train-corpus-accuracy=0.885417
2019-10-11 02:20:02,976 [INFO]  Epoch[18] Time cost=0.068
2019-10-11 02:20:02,982 [INFO]  Saved checkpoint to "imputer_model/model-0018.params"
2019-10-11 02:20:02,989 [INFO]  Epoch[18] Validation-cross-entropy=1.243165
2019-10-11 02:20:02,990 [INFO]  Epoch[18] Validation-corpus-accuracy=0.562500
2019-10-11 02:20:03,032 [INFO]  Epoch[19] Batch [0-7]	Speed: 3275.34 samples/sec	cross-entropy=0.613372	corpus-accuracy=0.859375
2019-10-11 02:20:03,060 [INFO]  Epoch[19] Train-cross-entropy=0.551800
2019-10-11 02:20:03,061 [INFO]  Epoch[19] Train-corpus-accuracy=0.906250
2019-10-11 02:20:03,061 [INFO]  Epoch[19] Time cost=0.071
2019-10-11 02:20:03,066 [INFO]  Saved checkpoint to "imputer_model/model-0019.params"
2019-10-11 02:20:03,073 [INFO]  Epoch[19] Validation-cross-entropy=1.229797
2019-10-11 02:20:03,074 [INFO]  Epoch[19] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,114 [INFO]  Epoch[20] Batch [0-7]	Speed: 3312.13 samples/sec	cross-entropy=0.593418	corpus-accuracy=0.875000
2019-10-11 02:20:03,141 [INFO]  Epoch[20] Train-cross-entropy=0.532915
2019-10-11 02:20:03,142 [INFO]  Epoch[20] Train-corpus-accuracy=0.916667
2019-10-11 02:20:03,143 [INFO]  Epoch[20] Time cost=0.068
2019-10-11 02:20:03,148 [INFO]  Saved checkpoint to "imputer_model/model-0020.params"
2019-10-11 02:20:03,154 [INFO]  Epoch[20] Validation-cross-entropy=1.218938
2019-10-11 02:20:03,155 [INFO]  Epoch[20] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,193 [INFO]  Epoch[21] Batch [0-7]	Speed: 3582.28 samples/sec	cross-entropy=0.574064	corpus-accuracy=0.875000
2019-10-11 02:20:03,219 [INFO]  Epoch[21] Train-cross-entropy=0.514978
2019-10-11 02:20:03,220 [INFO]  Epoch[21] Train-corpus-accuracy=0.916667
2019-10-11 02:20:03,221 [INFO]  Epoch[21] Time cost=0.065
2019-10-11 02:20:03,226 [INFO]  Saved checkpoint to "imputer_model/model-0021.params"
2019-10-11 02:20:03,233 [INFO]  Epoch[21] Validation-cross-entropy=1.209533
2019-10-11 02:20:03,234 [INFO]  Epoch[21] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,272 [INFO]  Epoch[22] Batch [0-7]	Speed: 3502.86 samples/sec	cross-entropy=0.555377	corpus-accuracy=0.898438
2019-10-11 02:20:03,300 [INFO]  Epoch[22] Train-cross-entropy=0.498196
2019-10-11 02:20:03,300 [INFO]  Epoch[22] Train-corpus-accuracy=0.937500
2019-10-11 02:20:03,301 [INFO]  Epoch[22] Time cost=0.066
2019-10-11 02:20:03,306 [INFO]  Saved checkpoint to "imputer_model/model-0022.params"
2019-10-11 02:20:03,313 [INFO]  Epoch[22] Validation-cross-entropy=1.197122
2019-10-11 02:20:03,314 [INFO]  Epoch[22] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,356 [INFO]  Epoch[23] Batch [0-7]	Speed: 3250.43 samples/sec	cross-entropy=0.537334	corpus-accuracy=0.906250
2019-10-11 02:20:03,385 [INFO]  Epoch[23] Train-cross-entropy=0.482004
2019-10-11 02:20:03,386 [INFO]  Epoch[23] Train-corpus-accuracy=0.947917
2019-10-11 02:20:03,386 [INFO]  Epoch[23] Time cost=0.071
2019-10-11 02:20:03,391 [INFO]  Saved checkpoint to "imputer_model/model-0023.params"
2019-10-11 02:20:03,399 [INFO]  Epoch[23] Validation-cross-entropy=1.186319
2019-10-11 02:20:03,399 [INFO]  Epoch[23] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,440 [INFO]  Epoch[24] Batch [0-7]	Speed: 3295.37 samples/sec	cross-entropy=0.520839	corpus-accuracy=0.906250
2019-10-11 02:20:03,468 [INFO]  Epoch[24] Train-cross-entropy=0.466462
2019-10-11 02:20:03,469 [INFO]  Epoch[24] Train-corpus-accuracy=0.958333
2019-10-11 02:20:03,469 [INFO]  Epoch[24] Time cost=0.069
2019-10-11 02:20:03,474 [INFO]  Saved checkpoint to "imputer_model/model-0024.params"
2019-10-11 02:20:03,482 [INFO]  Epoch[24] Validation-cross-entropy=1.180633
2019-10-11 02:20:03,483 [INFO]  Epoch[24] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,522 [INFO]  Epoch[25] Batch [0-7]	Speed: 3405.38 samples/sec	cross-entropy=0.504725	corpus-accuracy=0.921875
2019-10-11 02:20:03,548 [INFO]  Epoch[25] Train-cross-entropy=0.451311
2019-10-11 02:20:03,549 [INFO]  Epoch[25] Train-corpus-accuracy=0.968750
2019-10-11 02:20:03,550 [INFO]  Epoch[25] Time cost=0.067
2019-10-11 02:20:03,555 [INFO]  Saved checkpoint to "imputer_model/model-0025.params"

2019-10-11 02:20:03,562 [INFO]  Epoch[25] Validation-cross-entropy=1.174779
2019-10-11 02:20:03,562 [INFO]  Epoch[25] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,600 [INFO]  Epoch[26] Batch [0-7]	Speed: 3508.96 samples/sec	cross-entropy=0.489011	corpus-accuracy=0.929688
2019-10-11 02:20:03,627 [INFO]  Epoch[26] Train-cross-entropy=0.437221
2019-10-11 02:20:03,628 [INFO]  Epoch[26] Train-corpus-accuracy=0.968750
2019-10-11 02:20:03,629 [INFO]  Epoch[26] Time cost=0.065
2019-10-11 02:20:03,634 [INFO]  Saved checkpoint to "imputer_model/model-0026.params"
2019-10-11 02:20:03,640 [INFO]  Epoch[26] Validation-cross-entropy=1.167398
2019-10-11 02:20:03,641 [INFO]  Epoch[26] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,680 [INFO]  Epoch[27] Batch [0-7]	Speed: 3438.03 samples/sec	cross-entropy=0.474052	corpus-accuracy=0.945312
2019-10-11 02:20:03,708 [INFO]  Epoch[27] Train-cross-entropy=0.423512
2019-10-11 02:20:03,709 [INFO]  Epoch[27] Train-corpus-accuracy=0.968750
2019-10-11 02:20:03,709 [INFO]  Epoch[27] Time cost=0.068
2019-10-11 02:20:03,713 [INFO]  Saved checkpoint to "imputer_model/model-0027.params"
2019-10-11 02:20:03,720 [INFO]  Epoch[27] Validation-cross-entropy=1.160974
2019-10-11 02:20:03,720 [INFO]  Epoch[27] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,761 [INFO]  Epoch[28] Batch [0-7]	Speed: 3435.62 samples/sec	cross-entropy=0.459685	corpus-accuracy=0.945312
2019-10-11 02:20:03,788 [INFO]  Epoch[28] Train-cross-entropy=0.411299
2019-10-11 02:20:03,789 [INFO]  Epoch[28] Train-corpus-accuracy=0.968750
2019-10-11 02:20:03,789 [INFO]  Epoch[28] Time cost=0.068
2019-10-11 02:20:03,794 [INFO]  Saved checkpoint to "imputer_model/model-0028.params"
2019-10-11 02:20:03,802 [INFO]  Epoch[28] Validation-cross-entropy=1.158035
2019-10-11 02:20:03,803 [INFO]  Epoch[28] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,846 [INFO]  Epoch[29] Batch [0-7]	Speed: 3121.53 samples/sec	cross-entropy=0.446474	corpus-accuracy=0.953125
2019-10-11 02:20:03,878 [INFO]  Epoch[29] Train-cross-entropy=0.398420
2019-10-11 02:20:03,878 [INFO]  Epoch[29] Train-corpus-accuracy=0.979167
2019-10-11 02:20:03,879 [INFO]  Epoch[29] Time cost=0.075
2019-10-11 02:20:03,885 [INFO]  Saved checkpoint to "imputer_model/model-0029.params"
2019-10-11 02:20:03,893 [INFO]  Epoch[29] Validation-cross-entropy=1.152610
2019-10-11 02:20:03,894 [INFO]  Epoch[29] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:03,939 [INFO]  Epoch[30] Batch [0-7]	Speed: 2901.86 samples/sec	cross-entropy=0.433223	corpus-accuracy=0.960938
2019-10-11 02:20:03,971 [INFO]  Epoch[30] Train-cross-entropy=0.386632
2019-10-11 02:20:03,972 [INFO]  Epoch[30] Train-corpus-accuracy=0.979167
2019-10-11 02:20:03,973 [INFO]  Epoch[30] Time cost=0.079
2019-10-11 02:20:03,978 [INFO]  Saved checkpoint to "imputer_model/model-0030.params"
2019-10-11 02:20:03,986 [INFO]  Epoch[30] Validation-cross-entropy=1.151839
2019-10-11 02:20:03,987 [INFO]  Epoch[30] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,028 [INFO]  Epoch[31] Batch [0-7]	Speed: 3255.72 samples/sec	cross-entropy=0.420301	corpus-accuracy=0.968750
2019-10-11 02:20:04,056 [INFO]  Epoch[31] Train-cross-entropy=0.375546
2019-10-11 02:20:04,056 [INFO]  Epoch[31] Train-corpus-accuracy=0.979167
2019-10-11 02:20:04,057 [INFO]  Epoch[31] Time cost=0.069
2019-10-11 02:20:04,062 [INFO]  Saved checkpoint to "imputer_model/model-0031.params"
2019-10-11 02:20:04,069 [INFO]  Epoch[31] Validation-cross-entropy=1.146085
2019-10-11 02:20:04,070 [INFO]  Epoch[31] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,108 [INFO]  Epoch[32] Batch [0-7]	Speed: 3494.45 samples/sec	cross-entropy=0.408520	corpus-accuracy=0.968750
2019-10-11 02:20:04,139 [INFO]  Epoch[32] Train-cross-entropy=0.364407
2019-10-11 02:20:04,140 [INFO]  Epoch[32] Train-corpus-accuracy=0.979167
2019-10-11 02:20:04,140 [INFO]  Epoch[32] Time cost=0.070
2019-10-11 02:20:04,146 [INFO]  Saved checkpoint to "imputer_model/model-0032.params"
2019-10-11 02:20:04,154 [INFO]  Epoch[32] Validation-cross-entropy=1.142884
2019-10-11 02:20:04,155 [INFO]  Epoch[32] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,194 [INFO]  Epoch[33] Batch [0-7]	Speed: 3331.95 samples/sec	cross-entropy=0.397267	corpus-accuracy=0.968750
2019-10-11 02:20:04,225 [INFO]  Epoch[33] Train-cross-entropy=0.353817
2019-10-11 02:20:04,226 [INFO]  Epoch[33] Train-corpus-accuracy=0.989583
2019-10-11 02:20:04,226 [INFO]  Epoch[33] Time cost=0.071
2019-10-11 02:20:04,232 [INFO]  Saved checkpoint to "imputer_model/model-0033.params"
2019-10-11 02:20:04,240 [INFO]  Epoch[33] Validation-cross-entropy=1.143776
2019-10-11 02:20:04,241 [INFO]  Epoch[33] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,283 [INFO]  Epoch[34] Batch [0-7]	Speed: 3123.77 samples/sec	cross-entropy=0.385740	corpus-accuracy=0.976562
2019-10-11 02:20:04,314 [INFO]  Epoch[34] Train-cross-entropy=0.344222
2019-10-11 02:20:04,315 [INFO]  Epoch[34] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,316 [INFO]  Epoch[34] Time cost=0.075
2019-10-11 02:20:04,322 [INFO]  Saved checkpoint to "imputer_model/model-0034.params"
2019-10-11 02:20:04,330 [INFO]  Epoch[34] Validation-cross-entropy=1.141810
2019-10-11 02:20:04,331 [INFO]  Epoch[34] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,373 [INFO]  Epoch[35] Batch [0-7]	Speed: 3159.36 samples/sec	cross-entropy=0.375150	corpus-accuracy=0.976562
2019-10-11 02:20:04,404 [INFO]  Epoch[35] Train-cross-entropy=0.334057
2019-10-11 02:20:04,405 [INFO]  Epoch[35] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,405 [INFO]  Epoch[35] Time cost=0.074
2019-10-11 02:20:04,411 [INFO]  Saved checkpoint to "imputer_model/model-0035.params"
2019-10-11 02:20:04,419 [INFO]  Epoch[35] Validation-cross-entropy=1.139357
2019-10-11 02:20:04,420 [INFO]  Epoch[35] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,461 [INFO]  Epoch[36] Batch [0-7]	Speed: 3277.26 samples/sec	cross-entropy=0.364954	corpus-accuracy=0.984375
2019-10-11 02:20:04,488 [INFO]  Epoch[36] Train-cross-entropy=0.324850
2019-10-11 02:20:04,489 [INFO]  Epoch[36] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,490 [INFO]  Epoch[36] Time cost=0.069
2019-10-11 02:20:04,495 [INFO]  Saved checkpoint to "imputer_model/model-0036.params"
2019-10-11 02:20:04,502 [INFO]  Epoch[36] Validation-cross-entropy=1.138153
2019-10-11 02:20:04,503 [INFO]  Epoch[36] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,543 [INFO]  Epoch[37] Batch [0-7]	Speed: 3361.73 samples/sec	cross-entropy=0.354729	corpus-accuracy=0.992188
2019-10-11 02:20:04,571 [INFO]  Epoch[37] Train-cross-entropy=0.316635
2019-10-11 02:20:04,572 [INFO]  Epoch[37] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,572 [INFO]  Epoch[37] Time cost=0.069
2019-10-11 02:20:04,578 [INFO]  Saved checkpoint to "imputer_model/model-0037.params"
2019-10-11 02:20:04,586 [INFO]  Epoch[37] Validation-cross-entropy=1.137453
2019-10-11 02:20:04,586 [INFO]  Epoch[37] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,630 [INFO]  Epoch[38] Batch [0-7]	Speed: 3038.37 samples/sec	cross-entropy=0.345475	corpus-accuracy=0.992188
2019-10-11 02:20:04,661 [INFO]  Epoch[38] Train-cross-entropy=0.307385
2019-10-11 02:20:04,662 [INFO]  Epoch[38] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,663 [INFO]  Epoch[38] Time cost=0.075
2019-10-11 02:20:04,668 [INFO]  Saved checkpoint to "imputer_model/model-0038.params"
2019-10-11 02:20:04,676 [INFO]  Epoch[38] Validation-cross-entropy=1.136617
2019-10-11 02:20:04,677 [INFO]  Epoch[38] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,718 [INFO]  Epoch[39] Batch [0-7]	Speed: 3239.45 samples/sec	cross-entropy=0.336279	corpus-accuracy=0.992188
2019-10-11 02:20:04,745 [INFO]  Epoch[39] Train-cross-entropy=0.299530
2019-10-11 02:20:04,746 [INFO]  Epoch[39] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,746 [INFO]  Epoch[39] Time cost=0.069
2019-10-11 02:20:04,751 [INFO]  Saved checkpoint to "imputer_model/model-0039.params"
2019-10-11 02:20:04,758 [INFO]  Epoch[39] Validation-cross-entropy=1.139216
2019-10-11 02:20:04,759 [INFO]  Epoch[39] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,799 [INFO]  Epoch[40] Batch [0-7]	Speed: 3305.88 samples/sec	cross-entropy=0.327152	corpus-accuracy=1.000000

2019-10-11 02:20:04,829 [INFO]  Epoch[40] Train-cross-entropy=0.291660
2019-10-11 02:20:04,830 [INFO]  Epoch[40] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,830 [INFO]  Epoch[40] Time cost=0.071
2019-10-11 02:20:04,835 [INFO]  Saved checkpoint to "imputer_model/model-0040.params"
2019-10-11 02:20:04,842 [INFO]  Epoch[40] Validation-cross-entropy=1.135576
2019-10-11 02:20:04,843 [INFO]  Epoch[40] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,882 [INFO]  Epoch[41] Batch [0-7]	Speed: 3363.25 samples/sec	cross-entropy=0.318487	corpus-accuracy=1.000000
2019-10-11 02:20:04,909 [INFO]  Epoch[41] Train-cross-entropy=0.284301
2019-10-11 02:20:04,910 [INFO]  Epoch[41] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,911 [INFO]  Epoch[41] Time cost=0.067
2019-10-11 02:20:04,915 [INFO]  Saved checkpoint to "imputer_model/model-0041.params"
2019-10-11 02:20:04,922 [INFO]  Epoch[41] Validation-cross-entropy=1.136430
2019-10-11 02:20:04,923 [INFO]  Epoch[41] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:04,959 [INFO]  Epoch[42] Batch [0-7]	Speed: 3643.12 samples/sec	cross-entropy=0.310587	corpus-accuracy=1.000000
2019-10-11 02:20:04,986 [INFO]  Epoch[42] Train-cross-entropy=0.276244
2019-10-11 02:20:04,987 [INFO]  Epoch[42] Train-corpus-accuracy=1.000000
2019-10-11 02:20:04,987 [INFO]  Epoch[42] Time cost=0.064
2019-10-11 02:20:04,992 [INFO]  Saved checkpoint to "imputer_model/model-0042.params"
2019-10-11 02:20:05,000 [INFO]  Epoch[42] Validation-cross-entropy=1.139944
2019-10-11 02:20:05,001 [INFO]  Epoch[42] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:05,039 [INFO]  Epoch[43] Batch [0-7]	Speed: 3421.83 samples/sec	cross-entropy=0.302517	corpus-accuracy=1.000000
2019-10-11 02:20:05,072 [INFO]  Epoch[43] Train-cross-entropy=0.269928
2019-10-11 02:20:05,073 [INFO]  Epoch[43] Train-corpus-accuracy=1.000000
2019-10-11 02:20:05,074 [INFO]  Epoch[43] Time cost=0.072
2019-10-11 02:20:05,079 [INFO]  Saved checkpoint to "imputer_model/model-0043.params"
2019-10-11 02:20:05,088 [INFO]  Epoch[43] Validation-cross-entropy=1.139934
2019-10-11 02:20:05,088 [INFO]  Epoch[43] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:05,132 [INFO]  Epoch[44] Batch [0-7]	Speed: 3067.15 samples/sec	cross-entropy=0.294975	corpus-accuracy=1.000000
2019-10-11 02:20:05,162 [INFO]  Epoch[44] Train-cross-entropy=0.262314
2019-10-11 02:20:05,163 [INFO]  Epoch[44] Train-corpus-accuracy=1.000000
2019-10-11 02:20:05,164 [INFO]  Epoch[44] Time cost=0.075
2019-10-11 02:20:05,169 [INFO]  Saved checkpoint to "imputer_model/model-0044.params"
2019-10-11 02:20:05,177 [INFO]  Epoch[44] Validation-cross-entropy=1.140468
2019-10-11 02:20:05,178 [INFO]  Epoch[44] Validation-corpus-accuracy=0.593750
2019-10-11 02:20:05,218 [INFO]  Epoch[45] Batch [0-7]	Speed: 3406.54 samples/sec	cross-entropy=0.287949	corpus-accuracy=1.000000
2019-10-11 02:20:05,244 [INFO]  Epoch[45] Train-cross-entropy=0.255813
2019-10-11 02:20:05,245 [INFO]  Epoch[45] Train-corpus-accuracy=1.000000
2019-10-11 02:20:05,245 [INFO]  Epoch[45] Time cost=0.067
2019-10-11 02:20:05,250 [INFO]  Saved checkpoint to "imputer_model/model-0045.params"
2019-10-11 02:20:05,258 [INFO]  No improvement detected for 5 epochs compared to 1.1355761587619781 last error obtained: 1.1422744989395142, stopping here
2019-10-11 02:20:05,259 [INFO]
========== done (3.9108049869537354 s) fit model
/Users/maxim/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/Users/maxim/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [146]:
imputed = imputer.predict(data)

/Users/maxim/anaconda3/lib/python3.7/site-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)
/Users/maxim/anaconda3/lib/python3.7/site-packages/datawig/imputer.py:822: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'
  if data_frame.columns.contains(imputation_col):
/Users/maxim/anaconda3/lib/python3.7/site-packages/datawig/imputer.py:829: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'
  if data_frame.columns.contains(imputation_proba_col):

In [147]:
imputed

,Pclass,Sex,Age,SibSp,Parch,Fare,ticket,corpus,number_of_cabin,first_name,second_name,title,corpus_imputed,corpus_imputed_proba
0,3,male,22.0,1,0,7.2500,21171,NaN,NaN,owen,braund,mr,F,0.842103
1,1,female,38.0,1,0,71.2833,17599,C,85.0,john,cumings,mrs,C,0.730207
2,3,female,26.0,0,0,7.9250,3101282,NaN,NaN,laina,heikkinen,miss,F,0.999889
3,1,female,35.0,1,0,53.1000,113803,C,123.0,jacques,futrelle,mrs,C,0.878490
4,3,male,35.0,0,0,8.0500,373450,NaN,NaN,william,allen,mr,F,0.788814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,male,NaN,0,0,8.0500,3236,NaN,NaN,woolf,spector,mr,F,0.940065
1305,1,female,39.0,0,0,108.9000,17758,C,105.0,fermina,oliva,dona,B,0.435939
1306,3,male,38.5,0,0,7.2500,3101262,NaN,NaN,simon,saether,mr,F,0.999874
1307,3,male,NaN,0,0,8.0500,359309,NaN,NaN,frederick,ware,mr,F,0.637516
1308,3,male,NaN,1,1,22.3583,2668,NaN,NaN,michael,peter,master,G,0.915065

In [148]:
data["corpus"] = imputed["corpus_imputed"]

In [149]:

from sklearn.preprocessing import StandardScaler

In [150]:
from sklearn.feature_extraction import DictVectorizer as DV

In [151]:
vectorizer = DV(sparse=False)
str_columns = ["Sex", "corpus", "first_name", "second_name", "title"]
num_columns = [ "Age", "number_of_cabin","Pclass", "SibSp", "Parch", "Fare", "ticket"]
data_cat = vectorizer.fit_transform(data[str_columns].T.to_dict().values())
sc = StandardScaler()
sc_data_num = sc.fit_transform(data[num_columns].values)
data_num = np.column_stack((sc_data_num, data_cat))

In [152]:
import sys
from impyute.imputation.cs import fast_knn
sys.setrecursionlimit(100000) #Increase the recursion limit of the OS

# start the KNN training
imputed_training=fast_knn(data_num, k=10)

In [153]:
imputed_training.shape

(1309, 1422)

In [154]:
sc_data_num.shape

(1309, 7)

In [155]:
ans = sc.inverse_transform(imputed_training[:,:7])

In [156]:
ans[:, 1]

array([49.83391003, 85.        , 49.83391003, ..., 49.83391003,
       49.83391003, 51.89317837])

In [157]:
data["Age"] = ans[:, 0]

In [158]:
data["number_of_cabin"] = ans[:, 1]

In [159]:
data

,Pclass,Sex,Age,SibSp,Parch,Fare,ticket,corpus,number_of_cabin,first_name,second_name,title
0,3,male,22.000000,1,0,7.2500,21171,F,49.833910,owen,braund,mr
1,1,female,38.000000,1,0,71.2833,17599,C,85.000000,john,cumings,mrs
2,3,female,26.000000,0,0,7.9250,3101282,F,49.833910,laina,heikkinen,miss
3,1,female,35.000000,1,0,53.1000,113803,C,123.000000,jacques,futrelle,mrs
4,3,male,35.000000,0,0,8.0500,373450,F,49.833910,william,allen,mr
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,male,29.881138,0,0,8.0500,3236,F,49.833910,woolf,spector,mr
1305,1,female,39.000000,0,0,108.9000,17758,B,105.000000,fermina,oliva,dona
1306,3,male,38.500000,0,0,7.2500,3101262,F,49.833910,simon,saether,mr
1307,3,male,29.466566,0,0,8.0500,359309,F,49.833910,frederick,ware,mr
1308,3,male,19.573292,1,1,22.3583,2668,G,51.893178,michael,peter,master

In [161]:
for col in data.columns:
    data_first[col] = data[col]

In [162]:
data_first

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,ticket,corpus,number_of_cabin,first_name,second_name,title,third_name
0,3,male,22.000000,1,0,7.2500,S,21171,F,49.833910,owen,braund,mr,harris
1,1,female,38.000000,1,0,71.2833,C,17599,C,85.000000,john,cumings,mrs,bradley
2,3,female,26.000000,0,0,7.9250,S,3101282,F,49.833910,laina,heikkinen,miss,NaN
3,1,female,35.000000,1,0,53.1000,S,113803,C,123.000000,jacques,futrelle,mrs,heath
4,3,male,35.000000,0,0,8.0500,S,373450,F,49.833910,william,allen,mr,henry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,male,29.881138,0,0,8.0500,S,3236,F,49.833910,woolf,spector,mr,NaN
1305,1,female,39.000000,0,0,108.9000,C,17758,B,105.000000,fermina,oliva,dona,NaN
1306,3,male,38.500000,0,0,7.2500,S,3101262,F,49.833910,simon,saether,mr,sivertsen
1307,3,male,29.466566,0,0,8.0500,S,359309,F,49.833910,frederick,ware,mr,NaN
1308,3,male,19.573292,1,1,22.3583,C,2668,G,51.893178,michael,peter,master,j

In [167]:
data_train_emp = pd.read_pickle("../titanic/data_train.pk")
data_test_emp = pd.read_pickle("../titanic/data_test.pk")

In [168]:
data_train.shape

(891, 14)

In [169]:
for col in data.columns:
    data_train_emp[col] = data[col].values[:data_train.shape[0]]

In [175]:
data_train_emp["number_of_cabin"]= np.array(data_train_emp["number_of_cabin"].values, dtype = int)

In [173]:
for col in data.columns:
    data_test_emp[col] = data[col].values[data_train.shape[0]:]

In [176]:
data_test_emp["number_of_cabin"]= np.array(data_test_emp["number_of_cabin"].values, dtype = int)

In [177]:
data_train_emp

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,ticket,corpus,number_of_cabin,first_name,second_name,title,third_name
0,1,0,3,male,22.000000,1,0,7.2500,S,21171,F,49,owen,braund,mr,harris
1,2,1,1,female,38.000000,1,0,71.2833,C,17599,C,85,john,cumings,mrs,bradley
2,3,1,3,female,26.000000,0,0,7.9250,S,3101282,F,49,laina,heikkinen,miss,NaN
3,4,1,1,female,35.000000,1,0,53.1000,S,113803,C,123,jacques,futrelle,mrs,heath
4,5,0,3,male,35.000000,0,0,8.0500,S,373450,F,49,william,allen,mr,henry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.000000,0,0,13.0000,S,211536,F,49,juozas,montvila,rev,NaN
887,888,1,1,female,19.000000,0,0,30.0000,S,112053,B,42,margaret,graham,miss,edith
888,889,0,3,female,29.341697,1,2,23.4500,S,6607,G,51,catherine,johnston,miss,helen
889,890,1,1,male,26.000000,0,0,30.0000,C,111369,C,148,karl,behr,mr,howell
890,891,0,3,male,32.000000,0,0,7.7500,Q,370376,F,49,patrick,dooley,mr,NaN

In [178]:
data_test_emp

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,ticket,corpus,number_of_cabin,first_name,second_name,title,third_name
0,892,3,male,34.500000,0,0,7.8292,Q,330911,F,49,james,kelly,mr,NaN
1,893,3,female,47.000000,1,0,7.0000,S,363272,F,49,james,wilkes,mrs,ellen
2,894,2,male,62.000000,0,0,9.6875,Q,240276,F,49,thomas,myles,mr,francis
3,895,3,male,27.000000,0,0,8.6625,S,315154,F,49,albert,wirz,mr,NaN
4,896,3,female,22.000000,1,1,12.2875,S,3101298,F,49,alexander,hirvonen,mrs,helga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,male,29.881138,0,0,8.0500,S,3236,F,49,woolf,spector,mr,NaN
414,1306,1,female,39.000000,0,0,108.9000,C,17758,B,105,fermina,oliva,dona,NaN
415,1307,3,male,38.500000,0,0,7.2500,S,3101262,F,49,simon,saether,mr,sivertsen
416,1308,3,male,29.466566,0,0,8.0500,S,359309,F,49,frederick,ware,mr,NaN
417,1309,3,male,19.573292,1,1,22.3583,C,2668,G,51,michael,peter,master,j

In [181]:
data_train_emp.to_pickle("../titanic/emputed_train.pk")
data_test_emp.to_pickle("../titanic/emputed_test.pk")

In [190]:
data_test_emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 15 columns):
PassengerId        418 non-null int64
Pclass             418 non-null int64
Sex                418 non-null object
Age                418 non-null float64
SibSp              418 non-null int64
Parch              418 non-null int64
Fare               418 non-null float64
Embarked           418 non-null object
ticket             418 non-null int64
corpus             418 non-null object
number_of_cabin    418 non-null int64
first_name         418 non-null object
second_name        418 non-null object
title              418 non-null object
third_name         269 non-null object
dtypes: float64(2), int64(6), object(7)
memory usage: 49.1+ KB